        .navbar {
        	font-size: 16px;
        	font-weight: lighter;
        	width: auto;
        }

        .li {
        	color: black;
        }


        .list {
        	font-family: arial;
        	font-size: 18px;
        	color: #cc0000;
        	padding-top: 60px;
        }

        a {
		color: black;
		padding-bottom: 10px;
	}

	p {
		font-size: 15px;
	}
		
	img {
		max-width: 100%;
		max-height: 100%;
		border-radius: 10px;
		margin: 10px auto;
 	}
/*.android + .chocoman + .chocoman_one are for the alignment of images on the article page*/
	.center-block {
    		display: block;
    		margin-left: auto;
    		margin-right: auto;
 		}

 	.android {
 		font-size: 16px;
 		}

 		.chocoman {
      		float: right;
    	}

    	.chocoman_one  {
      		margin-right: 10px;
      		float: left;
    	}

	.col-md-12 {
		border-top: 1px solid lightgray;
		border-bottom: 1px solid lightgray;
		margin-top: 10px;
		margin-bottom: 10px;
	}


	h3 {
		font-family: arial;
		font-size: 20px;
		padding-bottom: 5px;
		text-align: center;
	}

